# Build
target/
build/
!.mvn/wrapper/maven-wrapper.jar
*.jar
*.war

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Ambiente
.env
*.log

# SO
.DS_Store
Thumbs.db
# Windows Explorer
desktop.ini

# Windows Explorer
desktop.ini

# Python
__pycache__/
*.py[cod]
